
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    color: #333;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: auto;
    padding: 10px;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Garante que o padding não afete a largura */
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

#consultar-vacinas input {
    margin: 10px 0 20px; 
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

.button1 {
    color: black;
    background-color: yellow;
}

.button2 {

    background-color: red;;
}

.button3 {
    color: black;
    background-color: yellow;
}

.button4 {
background-color: red;
}

div {
    margin: 20px 0;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#resultado-vacinas-aplicadas,
#resultado-vacinas-proximas,
#resultado-vacinas-atrasadas,
#resultado-vacinas-acima-idade {
    margin-top: 20px;
}

#resultado-vacinas-aplicadas div,
#resultado-vacinas-proximas div,
#resultado-vacinas-atrasadas div,
#resultado-vacinas-acima-idade div {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 10px 0;
    border-radius: 5px;
}


ul {
    list-style-type: none;
    padding: 10px;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.paciente-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
}

#pacientes-lista {
    margin-top: 10px;
}
